@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: Arial}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* icons */
.bg-location {width: 25px; height: 31px;background: url('../images/common/css_sprites.png') -10px -10px;}
.bg-email {width: 24px; height: 19px;background: url('../images/common/css_sprites.png') -10px -61px;}
.bg-phone {width: 26px; height: 25px;background: url('../images/common/css_sprites.png') -55px -10px;}
.bg-hdemail {width: 20px; height: 16px;background: url('../images/common/css_sprites.png') -101px -50px;}
.bg-hdphone {width: 20px; height: 20px;background: url('../images/common/css_sprites.png') -101px -10px;}
/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}
/*button*/
.btn {font-family: "Montserrat"; font-size: 16px; font-weight: 700; color: #fff; display: inline-block; padding: 10px 30px; background: #684437; border: 3px solid #fff; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #333;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Montserrat"; font-weight: 800; font-size: 50px;color:#fff;}

/*header*/
#header {background: none;padding: 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 20px 0 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Montserrat"; font-weight: 700; font-size: 20px; color: #000000;margin-left: 40px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#684437;}
#header .col-1{width: 37.083333333333336%;}
#header .col-2{width: 62.91666666666667%}
.hdLeft img{max-width: 445px; width: 100%;}
.hdRight{text-align: right}
.hdRightTop p{display: inline-block; vertical-align: middle; margin-left: 40px;}
.hdRightTop p:first-child{font-family: "Montserrat"; font-weight: 400; font-size: 16px; color: #260604;}
.hdRightTop p:last-child{font-family: "Montserrat"; font-weight: 400; font-size: 20px; color: #260604;}
.hdRightTop p img, .hdRightTop p span{display: inline-block; vertical-align: middle;}

/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover;padding: 534px 0 126px}
#banner .bnrBox{max-width: 970px; width: 100%;margin: 0 auto;background: rgba(0,0,0,0.7); padding: 40px 0;}
.bnrBox p{margin: 0; font-family: "Montserrat"; font-weight: 800; font-size: 65px; color: #fff;line-height: 48px}
.bnrBox a.btn{margin-top: 30px;}
/*content*/
#welcome {position: relative;background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover;padding: 60px 0 40px}
#welcome .col-1, #welcome .col-2{width: 50%;}
.wlcLeft {text-align: left;}
.wlcLeft h1 span{display: block; font-family: "Abhaya Libre"; font-weight: 700; font-size: 52px; color: #fff;}
.wlcLeft p{font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #fff;max-width: 525px; margin: 1em auto 1em 0; }
.estimate{text-align: left; max-width: 50%; background: linear-gradient(to right, transparent, black, transparent); padding: 23px 0;margin-top: 63px;}
.estimate p{max-width: 600px; margin: 0 0 0 auto;width: 100%;font-family: "Montserrat"; font-weight: 400; font-size: 29px; color: #fff;}
.estimate p span{display: block;}
.wlcRight img{position: absolute;bottom: 40px;left: 62%;transform: translateX(-38%);max-width: 345px; width: 25%;}

#services{padding: 75px 0;}
#services h1{color: #684437;}
#services p{font-family: "Montserrat"; font-weight: 400; font-size: 16px; color: #444444; max-width: 1019px; width: 100%;margin: 0 auto;}
#services .services-top{max-width: 888px; margin: 0 auto;display: flex; justify-content: space-between;flex-wrap: wrap;}
#services .services-top dl{width: 49%;}
  #services .services-top dl dt{font-family: "Montserrat"; font-weight: 500; font-size: 25px; color: #444444;padding: 20px 0;}
  #services .services-top dl dd{margin: 0;}
#services .services-bottom{max-width: 888px; margin: 0 auto;display: flex; justify-content: space-between; flex-wrap: wrap;}
#services .services-bottom dl{width: 31%;}
  #services .services-bottom dl dt{font-family: "Montserrat"; font-weight: 500; font-size: 25px; color: #444444;padding: 20px 0;}
  #services .services-bottom dl dd{margin: 0;}

#about{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover; padding: 124px 0 106px}
#about .about-text{text-align: left;max-width: 565px; width: 100%;margin: 0 0 0 auto;}
#about .about-text p{font-family: "Montserrat"; font-weight: 400; font-size: 18px; color:#fff; margin: 50px 0 60px;line-height: 25px}

#gallery .gallery-top{position: relative;background: url(../images/common/bg3.jpg)no-repeat center top;background-size: cover;padding: 140px 0 268px;}
#gallery .gallery-top p{font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #fff;margin: 40px auto 0;max-width: 802px}
#gallery .gallery-bot {position: relative;padding: 0 0 40px; z-index: 999; margin-top: -90px;}
#gallery .gallery-bot .gallery-images{display: flex;justify-content: space-between; flex-wrap: wrap;}
#gallery .gallery-bot .gallery-images img{max-width: 385px; width: 33%;margin-bottom: 20px;}

#logoMap{background: url(../images/common/bgMap.jpg)no-repeat center top;background-size: cover;padding:147px 0 206px;}
#logoMap img{max-width: 295px; width: 100%;margin:0 auto;}

/*footer*/
#footer .footHeader{background: #684437; padding: 19px 0;text-align: left;}
#footer .footHeader h1 span{font-weight: 200}
#footer .footHeader p{margin: 0; font-family: "Montserrat"; font-weight: 400; font-size: 14px; color: #fff}

.footContent{background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size: cover;padding: 20px 0;}
.footContent .contact-details{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.footContent .contact-details dl{width: 25.5%;margin-right: 60px;text-align: left;}
.footContent .contact-details dl dt {border-bottom: 2px solid #fff;}
.footContent .contact-details dl:nth-of-type(2) dt {padding: 6px 0;}
.footContent .contact-details dl:nth-of-type(3) dt {padding: 3px 0;}
.footContent .contact-details dl dt img, .footContent .contact-details dl dt p{display: inline-block;vertical-align: middle;}
.footContent .contact-details dl dt p{margin: 0 0 0 15px; font-family: "Josefin Sans"; font-weight: 700; font-size: 16px; color: #fff;}
.footContent .contact-details dl dd{min-height: 50px; align-self: center; font-family:"Montserrat"; font-weight: 400; font-size: 14px; color: #fff;margin: 30px 0 0 0;}
.footContent .contact-details dl:last-child dd{font-size: 30px; margin: 20px 0 0 0;letter-spacing: 2px  }

.contact-form form {border-bottom: 5px solid #fff;}
.contact-form form input[type="text"], .contact-form form textarea{border-top: none; border-right: none; border-left: none; border-bottom: 2px solid #fff;border-radius: 0; background: none;height: 45px;}
.contact-form form input[type="text"]::placeholder, .contact-form form textarea::placeholder{font-family: "Montserrat"; font-size: 16px; font-weight: 400; color: #fff;}
.contact-form form .left{width:50.24999999999999%}
.contact-form form .right{width: 49.75000000000001%;}
.contact-form form input[type="text"] {width: 290px}
.contact-form form .txtLeft input[type="text"]{margin-right: 22px;}
.contact-form form .g-recaptcha {transform: scale(0.8 );}
.contact-form form label{color: #fff;}

#footer ul {margin: 0;padding: 20px 0 0}
#footer ul li {display: inline-block;vertical-align: middle;}
#footer ul li a {font-family: "Lato"; font-weight: 900; font-size: 20px; color: #fff;margin: 0 40px;}
#footer ul li.active-menu a, #footer nav ul li a:hover {color:#684437;}
#footer .copy, #footer .silver{font-family: "Montserrat"; font-weight: 700; font-size: 13px; color: #fff;letter-spacing: 7px}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer .social a{margin: 1em auto; font-size: 40px; color: #fff;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content h1 {font-family: "Montserrat"; font-weight: 800; font-size: 50px;color:#684437;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/


/* @media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
        width: 100%;
    }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
} */
